{
  "extends": [
    "airbnb",
    "airbnb-typescript/base",
    "plugin:vue/vue3-recommended",
    "plugin:cypress/recommended",
    "plugin:@intlify/vue-i18n/recommended",
    "@antfu"
  ],
  "env": {
    "cypress/globals": true
  },
  "parser": "vue-eslint-parser",
  "parserOptions": {
    "parser": "@typescript-eslint/parser",
    "project": "./tsconfig.json",
    "extraFileExtensions": [
      ".vue",
      ".tsx"
    ],
    "ecmaVersion": 2021,
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module",
    "allowImportExportEverywhere": true
  },
  "rules": {
    "react/display-name": "off",
    "nonblock-statement-body-position": "off",
    "import/prefer-default-export": "off",
    "react/jsx-filename-extension": "off",
    "import/no-extraneous-dependencies": ["error", {
      "devDependencies": true
    }],
    "@intlify/vue-i18n/no-missing-keys": "off",
    "import/extensions": "off"
  },
  "settings": {
    "vue-i18n": {
      "localeDir": "./locales/*.{json,json5,yaml,yml}",
      "messageSyntaxVersion": "^9.0.0"
    }
  }
}